# Lab 8: SQL and Database Setup

## Introduction

In this lab we are going to practice viewing, sorting, grouping, and merging tables. 

We'll first guide you on how to set up a PostgreSQL database on Heroku. You'll use the same database for this lab as well as HW5.

In [ ]:
# Run this cell to set up your notebook

import seaborn as sns
import csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
sns.set()

from IPython.display import display, Latex, Markdown
from client.api.notebook import Notebook
ok = Notebook('lab08.ok')

import sqlalchemy

In [ ]:
# For instructor use only. Call this function to force refresh okpy tests
def refresh():
    import sys
    keys = [k for k in sys.modules.keys() if 'ok_tests' in k]
    for k in keys:
        del sys.modules[k]
    global ok
    ok = Notebook('lab08.ok')

In [ ]:
ok.auth(force=False) # Change False to True if you are getting errors authenticating

## Launching Your Heroku Postgres Database

For this assignment, you're going to use a popular cloud services provider: Heroku. This will give you some experience provisioning a database in the cloud and working on that database from your computer.

### Provisioning the Postgres DB

1. Visit https://signup.heroku.com/postgres-home-button and sign up for an account
if you don't have one already.
2. Now, install the Heroku CLI: https://devcenter.heroku.com/articles/heroku-cli.
Then, run `heroku login` to log into Heroku from your CLI.
3. Now, visit https://dashboard.heroku.com/apps and click **New -> App**. Name the app
whatever you want.
4. You should be sent to the app details page. Click **Resources** in the navbar, then
in the **Add-on** search bar, type "Postgres". You should be able to select **Heroku
Postgres**. Make sure the free tier (**Hobby Dev**) is selected and click **Provision**. Now
you should see **Heroku Postgres :: Database** in your **Add-ons** list.

### Loading the data into the Heroku DB

(1) Run the lines below in your terminal to install necessary libraries.

    conda install -y psycopg2
    conda install -y postgresql
    pip install ipython-sql
    
(2) Click the **Heroku Postgres :: Database** link in your app's **Add-ons** list.

(3) In the **Heroku Data** page you got redirected to, you should see the name of your
database. You can click on the **Setting** panel, then scroll down to **Administration** and click **View Credentials**. These are the
credentials that allow you to connect to the database. The last entry of the list
contains a line that looks like:

        heroku pg:psql db_name --app app_name

 In your terminal, take that command and add "`< fec.sql`" to the end
 to get something like:

        heroku pg:psql db_name --app app_name < fec.sql
        
 Run that command. It will run the commands in `fec.sql`, which load the dataset into the database.
 Now you should be able to run the command without the "`< fec.sql`" to
 have a postgres prompt. Try typing "`\d+`" at the prompt. You should get
 something like:
     
        ds100-hw4-db::DATABASE=> \d+
                               List of relations
         Schema |           Name           |   Type   |     Owner
        --------+--------------------------+----------+----------------
         public | cand                     | table    | vibrgrsqevmzkj
         public | comm                     | table    | vibrgrsqevmzkj
         public | ds100grades              | table    | vibrgrsqevmzkj
         public | ds100grades_recordid_seq | sequence | vibrgrsqevmzkj
         public | ds100weights             | table    | vibrgrsqevmzkj
         public | indiv_sample             | table    | vibrgrsqevmzkj
         public | indiv_sample_top         | table    | vibrgrsqevmzkj
         public | students                 | table    | vibrgrsqevmzkj
        (8 rows)

Congrats! You now have a Postgres database running containing the data you need
for this lab (and Homework 5!).

Now, let's connect to your Postgres database. On your Heroku Postgres details,
look at the credentials for the database. Take the long URI in the credentials and
replace the portion of the code that reads `"replace_me"` with the URI.

It should start with `postgres://`.

In [ ]:
my_URI = '<replace_me>'
%load_ext sql
%sql $my_URI
engine = sqlalchemy.create_engine(my_URI)
connection = engine.connect()

In [ ]:
my_URI = "postgres://vibrgrsqevmzkj:79d76ebb9ae05f3e4a2eeb9397aa325dddf88932ffca0e6e568db9f8ea6466e4@ec2-54-243-214-198.compute-1.amazonaws.com:5432/ddfrb6gftpi2oa"
%load_ext sql
%sql $my_URI
engine = sqlalchemy.create_engine(my_URI)
connection = engine.connect()

We will use these three tables in the lab:

+ `students`: Student name and other information; indexed by primary key `studentid`.
+ `ds100weights`: Weight of each assignment type (homework, labs etc) to the final grade. 
+ `ds100grades`: Grades per assignment per student. Can be linked to `students` using a _foreign key_ `studentid` and to `ds100weights` using `assignment` _foreign key_. 

Let's take a peek at the students table.

## Question 1

Fill in the SQL query in `q1` to display all the data in the `students` table. (Don't worry, the table isn't big enough to crash your browser.)

The `%sql` magic command comes from this package: https://github.com/catherinedevlin/ipython-sql . It conveniently lets you run SQL queries in a notebook. You should only edit the `q1` variable in the cell below.

In [ ]:
q1 = '''
SELECT *
FROM students
'''

%sql $q1

In [ ]:
assert len(connection.execute(q1).fetchall()) == 9
assert connection.execute(q1).fetchall()[0] == (0, 'Sergey Brin', 2.8, 40, 'CS', 'M')

## Question 2

Let's get a sense of how people are doing overall in this offering of DS100. Compute the average grade of all assignments in the `ds100grades` table in the `q2` string.

In [ ]:
q2 = '''
SELECT AVG(grade)
FROM ds100grades
'''

%sql $q2

In [ ]:
assert len(connection.execute(q2).fetchall()) == 1
assert np.allclose(connection.execute(q2).fetchall()[0][0], 88.8730)

## Question 3

As you have likely realized, we would rather know the overall grade for each student. This will require us to join tables together. Write a query `q3` that joins the `student` table with the `ds100grades` table so that students are matched with their assignment grades.

You will find that each student appears 7 times (why?) for a total of 63 rows.

In [ ]:
q3 = '''
SELECT *
FROM students, ds100grades
WHERE students.studentid = ds100grades.studentid
'''

%sql $q3

In [ ]:
assert len(connection.execute(q3).fetchall()) == 63
expected = [(0, 'Sergey Brin', 2.8, 40, 'CS', 'M', 1, 'hw', 0, 100.0), (1, 'Danah Boyd', 3.9, 35, 'CS', 'F', 29, 'labs', 1, 100.0), (2, 'Bill Gates', 1.0, 60, 'CS', 'M', 57, 'final', 2, 76.0), (4, 'Mike Olson', 3.7, 50, 'CS', 'M', 23, 'vitamins', 4, 95.0), (5, 'Mark Zuckerberg', 4.0, 30, 'CS', 'M', 51, 'midterm', 5, 86.0), (7, 'Susan Wojcicki', 4.0, 46, 'BUSINESS', 'F', 17, 'proj', 7, 82.0), (8, 'Marissa Meyer', 4.0, 45, 'BUSINESS', 'F', 45, 'participation', 8, 73.0)]
assert sorted(connection.execute(q3).fetchall())[::10] == expected

## Question 4

Now, write a query `q4` that calculates the average grade for each student assuming that all assignment types are weighted equally. (We know they aren't, we'll get there in Question 5.)

Your query should output 9 rows, one for each student. Your table should contain two columns, the `name` of the student and the `avg` grade they got in DS100. Sort the result by descending order of average grade.

In [ ]:
q4 = '''
SELECT s.name, AVG(g.grade)
FROM students AS s, ds100grades AS g
WHERE s.studentid = g.studentid
GROUP BY s.name
ORDER BY AVG(g.grade) DESC
'''

%sql $q4

In [ ]:
assert len(connection.execute(q4).fetchall()) == 9
names = ['Sergey Brin', 'Danah Boyd', 'Susan Wojcicki', 'Mike Olson', 'Cheryl Sandberg', 'Bill Gates', 'Marissa Meyer', 'Hillary Mason', 'Mark Zuckerberg']
assert [name for name, grade in connection.execute(q4).fetchall()] == names
grades = [93.5714285714286, 91.4285714285714, 89.8571428571429, 89.0, 88.8571428571429, 87.1428571428571, 87.0, 86.8571428571429, 86.1428571428571]
assert np.allclose([grade for name, grade in connection.execute(q4).fetchall()], grades)

## Question 5

Now, the grand finale: write a query `q5` to compute the average grade for each student, weighted correctly by the assignment weights in `ds100weights`.

Your query should output 9 rows, one for each student. Your table should contain two columns, the `name` of the student and the `overall` grade they got in DS100. Sort the result by descending order of average grade.

Hint: This is a tough one. Try breaking it down and testing your query as you go. We suggest using a WITH clause to first compute the joined table and the weighted assignment scores. Then, use a GROUP BY clause on table created by the WITH clause to compute the final overall grade.

In [ ]:
q5 = '''
WITH weighted AS (
SELECT name, g.grade * w.weight AS weighted_grade
FROM students AS s, ds100grades AS g, ds100weights AS w
WHERE s.studentid = g.studentid
    AND g.assignment = w.assignment
)
SELECT name, SUM(weighted_grade) as overall
FROM weighted
GROUP BY name
ORDER BY overall DESC
'''

%sql $q5

In [ ]:
assert len(connection.execute(q5).fetchall()) == 9
names = ['Sergey Brin', 'Mike Olson', 'Susan Wojcicki', 'Marissa Meyer', 'Cheryl Sandberg', 'Danah Boyd', 'Hillary Mason', 'Bill Gates', 'Mark Zuckerberg']
assert [name for name, grade in connection.execute(q5).fetchall()] == names
grades = [94.42, 91.88, 89.12, 88.55, 88.2, 88.13, 85.97, 85.83, 83.55]
assert np.allclose([grade for name, grade in connection.execute(q5).fetchall()], grades)

Congrats! You just learned to SQL.

## Submission

Run the cell below to run all the OkPy tests at once:

In [ ]:
_ = ok.grade_all()

Now, run the cell below to submit your assignment to OkPy. The autograder should email you shortly with your autograded score. The autograder will only run once every 30 minutes.

**If you're failing tests on the autograder but pass them locally**, you should simulate the autograder by doing the following:

1. In the top menu, click Kernel -> Restart and Run all.
2. Run the cell above to run each OkPy test.

**You must make sure that you pass all the tests when running steps 1 and 2 in order.** If you are still failing autograder tests, you should double check your results.

In [ ]:
_ = ok.submit()